label {
  width: 100%;
}

.radius-input {
  width: 80%;
  height: 15px;
  resize: none;
}

.comment-input {
  width: 80%;
  resize: none;
}

.color-input {
  width: 80%;
  margin: auto;
}

#konva-holder {
    overflow: hidden;
    background-color: rgb(223, 223, 223);
}

.column {
  float: left;
  padding: 5px;
}

.params-window {
  width: 10%;
}

.canvas {
  width: 60%;
}

.comment-editor{
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
