label {
  width: 100%;
}

.radius-input {
  width: 80%;
  height: 15px;
  resize: none;
}

.comment-input {
  width: 80%;
  resize: none;
}

.color-input {
  width: 80%;
  margin: auto;
}

#konva-holder {
    overflow: hidden;
    background-color: rgb(223, 223, 223);
}

#menu {
    display: none;
    position: absolute;
    width: 100px;
    background-color: white;
    box-shadow: 0 0 15px grey;
    border-radius: 3px;
  }

#menu button {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
  padding: 10px;
}

#menu button:hover {
  background-color: gray;
}

.column {
  float: left;
  padding: 5px;
}

.params-window {
  width: 10%;
}

.canvas {
  width: 60%;
}

.comment-editor{
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

